/*
*base.less文件
*作者：易天明
*作用：提供原子样式，与网站主题相关。
*说明：该层调用原子样式接口一些服务，提供封装好后可直接使用的样式，注意与具体组件解耦。
*/
@import "reset.css";
/*
*base.less文件
*作者：易天明
*作用：提供组件无关的基础样式接口。
*说明：该层对原子样式提供更易用的封装，只提供接口。
*/
/*======================
定位
========================*/
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*========================
定位
========================*/
.clear-fix:before,
.clear-fix:after {
  content: " ";
  display: block;
  clear: both;
}
.clear {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/*========================
display
========================*/
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.hidden {
  visibility: hidden;
}
.hidden-display {
  display: none;
}
.box {
  display: -moz-box;
  display: -0 -box;
  display: -webkit-box;
  display: box;
}
.flex-1 {
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.box-vertical {
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.box-pack-center {
  -moz-box-pack: center;
  -o-box-pack: center;
  -webkit-box-pack: center;
  box-pack: center;
}
.box-align-center {
  -moz-box-align: center;
  -o-box-align: center;
  -webkit-box-align: center;
  box-align: center;
}
/*========================
长度和宽度
========================*/
.width-full {
  width: 100%;
}
.width-forty {
  width: 40%;
}
.width-half {
  width: 50%;
}
.width-sixty {
  width: 60%;
}
.width-seventy {
  width: 70%;
}
.width-eighty {
  width: 80%;
}
.width-ninety {
  width: 90%;
}
/*=========================
背景
=========================*/
.bg-dark {
  background-color: red;
}
.bg-transparent {
  background-color: transparent;
}
.bg-transparent-white {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-sand-white {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-transparent-grey {
  background-color: rgba(118, 127, 127, 0.4);
}
.bg-sand-grey {
  background-color: rgba(93, 93, 93, 0.5);
}
/*=========================
边距
=========================*/
.margin-side {
  margin-left: 3%;
  margin-right: 3%;
}
.padding-side {
  padding-left: 3%;
  padding-right: 3%;
}
.pt-1 {
  padding-top: 1em;
}
.pt-2 {
  padding-top: 2em;
}
.pt-3 {
  padding-top: 3em;
}
.pt-4 {
  padding-top: 4em;
}
.pt-5 {
  padding-top: 5em;
}
.pb-1 {
  padding-bottom: 1em;
}
.pb-2 {
  padding-bottom: 2em;
}
.pt-twenty {
  padding-top: 20%;
}
.pt-forty {
  padding-top: 40%;
}
.mgt-half {
  margin-top: 0.5em;
}
.mgt-1 {
  margin-top: 1em;
}
.mgt-2 {
  margin-top: 2em;
}
.mgt-3 {
  margin-top: 3em;
}
.mgt-4 {
  margin-top: 4em;
}
.mgt-5 {
  margin-top: 5em;
}
.mgb-1 {
  margin-bottom: 1em;
}
.mgb-2 {
  margin-bottom: 2em;
}
.mgl-1 {
  margin-left: 1em;
}
.mgl-2 {
  margin-left: 2em;
}
.padding-safe {
  padding-bottom: 40px;
}
/*=========================
边框
=========================*/
.border {
  border: solid 1px black;
}
.border-underline {
  border-bottom: solid 1px black;
}
.border-underline-dangerous {
  border-bottom: solid 2px red;
}
.radius-decorate {
  border-radius: 7px;
}
.radius-small {
  border-radius: 3px;
}
/*=========================
颜色
=========================*/
.color-base {
  color: black;
}
.color-dangerous {
  color: red;
}
.color-dark {
  color: red;
}
/*=========================
字体
=========================*/
body {
  font-family: Arial, "微软雅黑", Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}
button,
pre,
textarea,
input,
select {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}
pre {
  word-wrap: break-word;
}
.font-base {
  font-size: 12px;
}
.font-small {
  font-size: 11px;
}
.font-xs {
  font-size: 7px;
}
.font-large {
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Arial, "微软雅黑", Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 31px;
}
h2,
.h2 {
  font-size: 25px;
}
h3,
.h3 {
  font-size: 21px;
}
h4,
.h4 {
  font-size: 15px;
}
h5,
.h5 {
  font-size: 12px;
}
h6,
.h6 {
  font-size: 11px;
}
/*=========================
过渡效果
=========================*/
/*=========================
其它
=========================*/
.pointer {
  cursor: pointer;
}
.ch body,
.ch h1,
.ch h2,
.ch h3,
.ch h4,
.ch h5,
.ch h6 {
  font-family: "微软雅黑", Arial;
}
.ch {
  font-family: "微软雅黑", Arial;
}
.en {
  font-family: Arial, "微软雅黑";
}
a:link,
.link:link {
  color: black;
  text-decoration: none;
}
a:visited,
.link:visited {
  color: black;
}
a:hover,
.link:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
a:active,
.link:active {
  color: red;
}
a.underline,
.link.underline {
  text-decoration: underline;
}
.container {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 100%;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.header:before,
.header:after {
  content: " ";
  display: block;
  clear: both;
}
.logo {
  float: left;
  width: 100px;
  height: 100px;
  background: url(../image/logo.jpg) no-repeat;
  margin: 0;
  cursor: pointer;
}
.header ul {
  height: 100px;
  margin-left: 1em;
}
.header ul li {
  float: left;
  height: 100%;
  margin: 0 1em;
}
.header ul li a {
  height: 90px;
  border-top: solid 10px transparent;
  line-height: 80px;
  display: block;
}
.header ul li a.active {
  border-top-color: red;
}
.main_pic {
  width: 100%;
  height: 60px;
  margin: 0;
  background: url(../image/header.jpg);
  background-size: 100% 100%;
  background-repeat: round;
}
.crumb {
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.footer {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background: #3e3131;
  color: white;
}
.contact {
  background-color: gainsboro;
  display: none;
}
.contact-us {
  box-sizing: border-box;
  float: left;
  width: 70%;
  background-color: white;
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 1.4em;
  padding-bottom: 1.2em;
}
.contact-us label {
  display: block;
  margin-top: 1em;
}
.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us textarea {
  width: 94%;
  background-color: #ebe7e7;
  border: none;
  padding: 0.2em 0;
}
.contact-us textarea {
  resize: none;
  width: 100%;
  height: 9.8em;
  padding: 0;
}
.contact-us button {
  background-color: #241c1c;
  color: white;
  width: 14em;
  border: none;
  padding: 0.5em 0;
  margin-top: 1em;
  cursor: pointer;
}
.contact-content {
  width: 50%;
  float: left;
}
.contact-description {
  box-sizing: border-box;
  float: left;
  width: 30%;
  padding-left: 2em;
  padding-right: 1em;
}
.list-index a {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
}
.list-index a.active {
  box-shadow: -2px 1px 1px #888888;
}
.hm {
  height: 100%;
}
.hm body {
  height: 100%;
}
.hm-peoples {
  float: left;
  box-sizing: border-box;
  width: 33.333333333333333333333333333333333333333%;
  padding-right: 2em;
}
#hm-slide {
  color: white;
  height: 100%;
  background: url(../image/home.jpg);
  background-size: 100% 100%;
  background-repeat: round;
}
#hm-slide .active {
  border-top-color: transparent;
  color: black;
}
.hm-title {
  font-size: 60px;
  margin: 1em 1em;
}
.hm-learn-more {
  padding: 0.6em;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: white;
}
.hm-triangle {
  display: block;
  margin: 1em auto 0 auto;
  padding-bottom: 1em;
  height: 0;
  width: 0;
  border-top: 1em solid white;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.hm #body {
  display: none;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.es-figure {
  position: relative;
  background-color: #f2ebe2;
  height: 15em;
}
.es-figure-image {
  height: 15em;
  width: 15em;
}
.es-figure-description {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-left-style: solid;
  border-left-color: transparent;
  border-left-width: 14em;
  padding-left: 4em;
  padding-right: 4em;
}
.es-list {
  width: 22%;
  float: left;
  background-color: #f2ebe2;
  margin-bottom: 2em;
}
.es-list img {
  width: 100%;
  height: auto;
}
.es-margin {
  margin-left: 4%;
}
.es-content {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
.pf-lists {
  margin-bottom: 3em;
}
.pf-lists:before,
.pf-lists:after {
  content: " ";
  display: block;
  clear: both;
}
.pf-lists > div {
  box-sizing: border-box;
  width: 25%;
  margin-top: 2em;
  text-align: center;
  float: left;
  background-color: #f2ebe2;
  background-clip: content-box;
  background-origin: content-box;
  border-right: solid 2em transparent;
  height: 10em;
}
.pf-lists > div img {
  vertical-align: middle;
}
.fg-content {
  margin-top: 2em;
}
.fg-content:before,
.fg-content:after {
  content: " ";
  display: block;
  clear: both;
}
.fg-content > img {
  width: 25%;
  height: auto;
  float: left;
}
.fg-content > div {
  width: 40%;
  margin-left: 3em;
  float: left;
}
.new-list > div {
  float: left;
  box-sizing: border-box;
  margin-top: 2em;
  width: 50%;
  padding-right: 2em;
}
.new-list > div > img {
  float: left;
  width: 8%;
}
.new-list > div > div {
  float: left;
  width: 88%;
  margin-left: 4%;
}
.new-list > div > div h4 {
  height: 2.5em;
}
/*# sourceMappingURL=common.css.map */
