*{margin:0;padding:0;border:0;list-style-type:none;}
body{background-color:#ffffff;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
a{text-decoration:none;}
a:hover{text-decoration:none;}

.container{width:100%;background:url(../images/body_bg.jpg) repeat-x;overflow:hidden;}
.container .header{width:760px;margin:0 auto;}

.logo{width:100px;height:100px;background:url(../images/logo.jpg) no-repeat;overflow:hidden;margin:25px 0 0 0;cursor:pointer;}
.menu{width:760px;height:38px;background:url(../images/menu_bg.jpg) no-repeat;overflow:hidden;margin:2px 0 0 0;}
.menu_sel{font-size:12px;color:#ff0000;font-weight:bold;}
.menu_unsel{font-size:12px;color:#000000;}
.menu li{display:block;float:left;margin:12px 0 0 0;width:190px;text-align:center}

.menu_en{width:760px;height:38px;background:url(../images/menu_bg_en.jpg) no-repeat;overflow:hidden;margin:2px 0 0 0;}
.menu_sel{font-size:12px;color:#ff0000;font-weight:bold;}
.menu_unsel{font-size:12px;color:#000000;}
.menu_en li{display:block;float:left;margin:12px 0 0 0;width:250px;text-align:center}

.main_1{width:760px;height:900px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_1{width:760px;height:100px;margin:20px 0 0 0;}
.main_2{width:760px;height:570px;background:url(../images/img_2.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_2{width:760px;height:100px;margin:20px 0 0 0;}
.main_3{width:760px;height:850px;background:url(../images/img_3.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_3{width:760px;height:100px;margin:20px 0 0 0;}
.main_4{width:760px;height:450px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_4{width:760px;height:100px;margin:20px 0 0 0;}
.main_5{width:760px;height:2100px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_5{width:760px;height:100px;margin:20px 0 0 0;}
.main_6{width:760px;height:1900px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_6{width:760px;height:100px;margin:20px 0 0 0;}
.main_about{width:760px;height:580px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_about{width:760px;height:100px;margin:20px 0 0 0;}
.main_indexcn{width:760px;height:700px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_indexcn{width:760px;height:100px;margin:20px 0 0 0;}
.main_aboutcn{width:760px;height:700px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_aboutcn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news{width:760px;height:1400px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news{width:760px;height:100px;margin:20px 0 0 0;}
.main_news1{width:760px;height:3700px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news1{width:760px;height:100px;margin:20px 0 0 0;}
.main_news2{width:760px;height:2000px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news2{width:760px;height:100px;margin:20px 0 0 0;}
.main_news3{width:760px;height:850px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news3{width:760px;height:100px;margin:20px 0 0 0;}
.main_news4{width:760px;height:1750px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news4{width:760px;height:100px;margin:20px 0 0 0;}
.main_news6{width:760px;height:900px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news6{width:760px;height:100px;margin:20px 0 0 0;}
.main_newscn{width:760px;height:1350px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_newscn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news1cn{width:760px;height:2900px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news1cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news2cn{width:760px;height:2500px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news2cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news3cn{width:760px;height:1600px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news3cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news4cn{width:760px;height:1100px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news4cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news5cn{width:760px;height:800px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news5cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news6cn{width:760px;height:1400px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news6cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news7cn{width:760px;height:1000px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news7cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news8cn{width:760px;height:2000px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news8cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news9cn{width:760px;height:2100px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news9cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_news10cn{width:760px;height:3500px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_news10cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_interview{width:760px;height:1150px;background:url(../images/img_3.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_interview{width:760px;height:100px;margin:20px 0 0 0;}
.main_interview1cn{width:760px;height:4000px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_interview1cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_interview2cn{width:760px;height:4200px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_interview2cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_interview3cn{width:760px;height:3200px;background:url(../images/img_4.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_interview3cn{width:760px;height:100px;margin:20px 0 0 0;}
.main_lzcn{width:760px;height:700px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_lzcn{width:760px;height:100px;margin:20px 0 0 0;}
.main_lei{width:760px;height:800px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_lei{width:760px;height:100px;margin:20px 0 0 0;}
.main_tracy{width:760px;height:600px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_tracy{width:760px;height:100px;margin:20px 0 0 0;}
.main_michael{width:760px;height:650px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_michael{width:760px;height:100px;margin:20px 0 0 0;}
.main_11{width:760px;margin:0 auto;}
.map_11{width:760px;height:100px;margin:20px 0 0 0;}
.main_terms{width:760px;height:1480px;background:url(../images/img_1.jpg) right bottom no-repeat;overflow:hidden;margin:0 auto;}
.map_terms{width:760px;height:100px;margin:20px 0 0 0;}
.text{margin:20px 0 0 0;}
.text a{color:#000;text-decoration:underline;font-weight:bold;}
.t_label{font-size:18px;font-weight:bold;}
.t_info{font-size:14px;line-height:20px;margin:15px 0 0 0;text-align:justify;}
h1{font-weight:bold;font-style:italic;font-size:12px;display:inline;}

.footer{width:100%;height:48px;background:url(../images/footer_bg.jpg) repeat-x;overflow:hidden;}
.copyright{width:760px;text-align:justify:inter-ideograph;margin:10px auto;font-size:10px;}
.copyright a{color:#000;text-decoration:underline;}
